table,
th,
td {
  border: 1px solid;
}


body {
  display: inline-block;
  border: 1px;
  background-color: rgb(74, 194, 102);
  font-family:'fantasy', 'papyrus'; 
}

table {
  background-color: blueviolet;
}